.hero {
  background-image: url("review_component.svg");
  background-repeat: no-repeat;
}

.main-cont {
  width: 1200px;
}

@media only screen and (max-width: 1280px) {
  .main-cont {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .main-cont {
    width: 800px;
  }
}

@media only screen and (max-width: 768px) {
  .main-cont {
    width: 700px;
  }
}

@media only screen and (max-width: 648px) {
  .main-cont {
    width: 100%;
  }
}
